<!DOCTYPE html>
<html>

<head>
	{{#> head title=name}}{{/head}}
</head>

<body>
	<div id="background" style="background-image: url('{{user.header}}');"></div>

	<div id="container">
		<div id="profile">
			<div id="header" style="background-image: url('{{user.header}}');"></div>

			<div id="body">
				<div id="avatar" style="background-image: url('{{user.avatar}}');"></div>

				{{#if button}}
				<a id="button" href="{{button.url}}" rel="nofollow noopener" target="_blank">{{#if button.text}}{{button.text}}{{else}}View full profile{{/if}}</a>
				{{/if}}

				<div id="user">
					<div id="name">
						{{user.name}}
						{{#if badges}}
						<span id="badges">
							{{#each badges}}
							<i class="material-icons">{{this}}</i>
							{{/each}}
						</span>
						{{/if}}
					</div>

					<div id="tag">{{#if user.tag}}@{{user.tag}}{{/if}}{{#if tooltip}}<span id="tooltip">{{tooltip}}</span>{{/if}}</div>
				</div>

				{{#if note}}
				<div id="bio">{{{note}}}</div>
				{{/if}}
			</div>
		</div>

		{{#if stats}}
		<ul>
			{{#each stats}}
			<li>
				<span class="label">{{#if @key}}{{@key}}{{/if}}</span>
				<span class="value">{{#if this}}{{this}}{{/if}}</span>
			</li>
			{{/each}}
		</ul>
		{{/if}}

		{{#if links}}
		<ul>
			{{#each links}}
			<li><a href="{{this}}" class="material-icons">{{@key}}</a></li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
</body>

</html>
