<!DOCTYPE html>
<html>

<head>
	{{#> head title=name color=color}}{{/head}}
</head>

<body>
	<div id="background" style="background-image: url('{{header}}');"></div>

	<div id="profile">
		<div id="header" style="background-image: url('{{header}}');"></div>

		<div id="body">
			<div id="avatar" style="background-image: url('{{avatar}}');"></div>

			<a id="button" href="{{url}}" rel="nofollow noopener" target="_blank">View Full Profile</a>

			<div id="user">
				<div id="name">
					{{#if name}}{{name}}{{else}}No username provided.{{/if}}
					{{#if badges}}
					<span id="badges">
						{{#each badges}}
						<i class="material-icons">{{this}}</i>
						{{/each}}
					</span>
					{{/if}}
				</div>

				<div id="tag">{{#if tag}}@{{tag}}{{#if tooltip}}<span id="tooltip">{{tooltip}}</span>{{/if}}{{else}}No tag provided.{{/if}}</div>
			</div>

			{{#if note}}
			<div id="bio">{{{note}}}</div>
			{{/if}}

			<ul id="stats">
			{{#if stats}}
				{{#each stats}}
				<li>
					<span class="label">{{#if @key}}{{@key}}{{else}}No name provided.{{/if}}</span>
					<span class="value">{{#if this}}{{this}}{{else}}No value provided.{{/if}}</span>
				</li>
				{{/each}}
				{{else}}
				<li>
					<span class="label">No stats provided.</span>
					<span class="value">No stats provided.</span>
				</li>
				{{/if}}
			</ul>
		</div>
	</div>
</body>

</html>
